* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
}
body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #f08040;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
header a:hover {
  color: #f08040;
}
.brand a {
  font-size: 3rem;
}
footer {
  background-color: #203040;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
/* Products */
.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.products li {
  flex: 0 1 30rem;
  margin: 1rem;
  margin-bottom: 0;
  height: 42rem;
  border-top: 0.2rem #e0e0e0 solid;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.product img {
  max-height: 26rem;
  max-width: 22rem;
  margin-top: 2rem;
}
.product-name {
  line-height: 2.2rem;
}
.product-brand {
  font-size: 1.2rem;
  color: #808080;
}
.product-price {
  font-size: 2rem;
}
.product-price span {
  font-size: 1.2rem;
}

/* Rating */
.rating{
  color:#ecdb41;
  font-size: 1.4rem;
}
.rating .text-review{
  color:#000;
}
.success{
  color:#55a82f;
}
.error{
  color:red;
}

/* CSS PRODUCTSCREEN UI */
.product__screen{
  width:100%;
}
.product__screen-back{
  height:70px;
}
.product__screen-back-header{
  background-color: #203040;
  width:150px;
  height:50px;
  margin-left: 12px;
  border-radius: 10px;
  margin-top:10px;
}
.product__screen-back-header:hover{
  background-color: #c76421;
  color:#fff;
}
.product__screen-back-header a{
  color:#fff;
  font-size: 16px;
  display: flex;
  margin:auto 10px;
  padding-top:16px;
  cursor: pointer;
}
.product__screen-main{
  display:flex;
}
.product__screen-main-img{
  flex:2;
}
.product-main-details-name{
  font-size: 12px;
}
.product-main-details-price{
  font-size: 16px;
  font-weight: 100;
}
.price{
  color:rgb(223, 67, 67)
}

.product__screen-main-details{
  flex:1;
}
.product__screen-buy{
  flex:1;
}
.product__screen-buy-container{
  border: 1px solid #000;
  border-radius: 4px;
  margin-right:10px;

}
.product-buy-container-status,
.product-buy-container-totalprice{
  margin-left: 10px;
}
.product-buy-container-add-card{
  border: 1px solid #000;
  border-radius: 6px;
  margin:20px;
  padding:10px;
  background-color: #e0ce26;
  color:#fff;
  text-align: center;
  cursor: pointer;
}
.product-buy-container-add-card:hover{
  background-color:#e98d4f;
  color:#000;
}

/* Cart Screen  */
.cart {
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.content{
  padding:20px;
}

.cart-list{
  flex: 3 1 60rem;
}

.cart-action{
  flex: 1 1 20rem;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding:1rem;
}
.cart-list-container{
  padding:1rem;
  list-style-type: none;
}
.cart-list-container li{
  display: flex;
  justify-content:space-between;
  padding-bottom: 1rem;
  margin-bottom:1rem;
  border-bottom:0.1rem solid #c0c0c0;
}
.cart-list-container img{
  max-width:10rem ;
  max-height:10rem;
}
.cart-list-container li:first-child{
  align-items: flex-end;
}
.cart-image{
  flex:1 1;
}
.cart-name{
  flex:8 1;
  margin:10px;
}
.cart-price{
  flex:1 1;
  text-align: right;
}
.cart-name > div{
  padding:1rem;
}